BasedOnStyle: Microsoft

UseTab: Never
IndentWidth: 4

PointerAlignment: Right
ReferenceAlignment: Right

BreakBeforeBinaryOperators: All
PackConstructorInitializers: Never
SpaceBeforeCpp11BracedList: false
AlignOperands: true

AccessModifierOffset: -2

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterStruct: false
  AfterNamespace: true
  AfterFunction: true
  AfterUnion: true
  AfterEnum: true
  AfterExternBlock: true
  BeforeLambdaBody: true
  AfterControlStatement: true
AlignAfterOpenBracket: BlockIndent

AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Never
Cpp11BracedListStyle: false

ColumnLimit: 0

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false

SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeIsMainRegex: "$^"
IncludeCategories:
  - Regex: '^"(common|sockets|logger|cli)\.'
    Priority: 1
    SortPriority: 1
  - Regex: '^"phy/'
    Priority: 1
    SortPriority: 2
  - Regex: '^"ip/'
    Priority: 1
    SortPriority: 3
  - Regex: '^"gui/'
    Priority: 1
    SortPriority: 4
  - Regex: '^".*"'
    Priority: 1
    SortPriority: 5
  - Regex: "^<.*>"
    Priority: 2
    SortPriority: 6

NamespaceIndentation: All
